@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply w-full h-screen;
}

.open {
  transform: translateX(0) !important;
}
.close {
  transform: translateX(-100%);
}

.inputPromt,
body {
  ::-webkit-scrollbar {
    width: 5px;
    padding-left: 90px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #0a1351;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.landingBg {
  background-image: url("./src/assets/landingbg.jpg");
  background-size: cover;
  background-position: right center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repetition */
  position: fixed; /* Fix the background to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

